// --------------------------------------------------
// LOGO
// --------------------------------------------------

.logo {
	height: 3.25rem;
	margin-left: 3rem;
}

// --------------------------------------------------
// SEARCH
// --------------------------------------------------

.search {
	// let this area fullfill 40% width of parent
	flex: 0 0 40%;

	// use display flex to center the children
	display: flex;
	align-items: center;
	justify-content: center;

	&__input {
		font-family: inherit;
		font-size: inherit;
		background-color: var(--color-grey-light-2);
		border: none;
		padding: 0.7rem 2rem;
		border-radius: 100px;
		width: 90%;
		transition: all 0.2s;
		// to position search button inside search bar
		margin-right: -3.25rem;

		&:focus {
			outline: none;
			width: 100%;
			background-color: var(--color-grey-light-3);
		}

		// This only works on Chrome and Safari browser
		&::-webkit-input-placeholder {
			font-weight: 100;
			color: var(--color-grey-light-4);
		}
	}

	// change .search__button background color when .search__input
	// state change to focus.
	&__input:focus + &__button {
		background-color: var(--color-grey-light-3);
	}

	&__button {
		border: none;
		background-color: var(--color-grey-light-2);

		&:focus {
			outline: none;
		}

		&:active {
			transform: translateY(2px);
		}
	}

	&__icon {
		height: 2rem;
		width: 2rem;
		// Change SVG icon color
		fill: var(--color-grey-dark-3);
	}
}

// --------------------------------------------------
// USER NAVIGATION
// --------------------------------------------------

.user-nav {
	background-color: greenyellow;

	// flex property to makesure the background color of each item
	// fill full-heigh of parent height.
	align-self: stretch;

	// turn to display flex container to align the children
	display: flex;
	align-items: center;

	// select all direct chilren of .user_nav
	& > * {
		padding: 2rem;
		cursor: pointer;
		height: 100%;

		// to let children align with main axis
		display: flex;
		align-items: center;
	}

	// select all direct chilren of .user_nav when hovered
	& > *:hover {
		background-color: var(--color-grey-light-2);
	}

	&__icon-box {
	}

	&__icon {
		height: 2.25rem;
		width: 2.25rem;
	}

	&__notification {
	}

	&__user {
	}

	&__user-photo {
		height: 3.75rem;
		border-radius: 50%;
	}

	&__user-name {
	}
}
