.container {
	max-width: 120rem;
	margin: 8rem auto;
	background-color: var(--color-grey-light-1);
	box-shadow: var(--shadow-dark);

	//debug, removed when real content exist!!
	min-height: 50rem;
}

.header {
	font-size: 1.4rem;
	height: 7rem;
	background-color: #fff;
	border-bottom: 1px solid var(--color-grey-light-2);

	//set parent div to have flexbox display
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.content {
	//set parent div to have flexbox display
	display: flex;
}

.sidebar {
	background-color: var(--color-grey-dark-1);

	// define .sidebar width using flexbox
	// to have width 18% from parent width which is .content
	flex: 0 0 18%;

	// set this as flex container
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.hotel-view {
	background-color: #fff;

	//debug, temporary height before real content
	height: 80rem;

	// define .hotel-view width using flexbox (flexbox-grow)
	// to grow on the remaining parent width (100% - 18% = 82%)
	flex: 1;
}
